<div class="modal" clickHide (clickHideChange)="clickHide($event)">
  <div class="modal__close" (click)="close()">
    <svg
      width="16"
      height="16"
      viewBox="0 0 16 16"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <line
        x1="1.93562"
        y1="2.64999"
        x2="13.9564"
        y2="14.6708"
        stroke="#BEBEBE"
        stroke-linecap="round"
      />
      <line
        x1="13.9236"
        y1="2.62978"
        x2="1.90277"
        y2="14.6506"
        stroke="#BEBEBE"
        stroke-linecap="round"
      />
    </svg>
  </div>
  @if (!isThanks()) {
    @if (isTypeOrder()) {
      <div class="modal__title">Заявка на услугу!</div>
    } @else {
      <div class="modal__title">Закажите бесплатную консультацию!</div>
    }

    <form
      action=""
      class="modal__form"
      [formGroup]="modalForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="modal__form-inputs">
        @if (isTypeOrder()) {
          <label for="offers" class="modal__label offers-label">
            <input
              formControlName="offer"
              class="modal__form-input offers-input"
              [value]="offerValue()"
              (click)="toggleShowOffers()"
              readonly
            />
            @if (isShowOffers()) {
              <div class="offers__list">
                @for (offer of offers; track $index) {
                  <div class="offer__list-item" (click)="choiceOffer(offer)">
                    {{ offer }}
                  </div>
                }
              </div>
            }
          </label>
        }

        <label for="name" class="modal__label">
          <input
            [style.borderColor]="
              modalForm.get('name')?.invalid &&
              (modalForm.get('name')?.dirty || modalForm.get('name')?.touched)
                ? 'red'
                : ''
            "
            formControlName="name"
            id="name"
            type="text"
            class="modal__form-input"
            placeholder="Ваше имя"
          />
        </label>
        <label for="phone" class="modal__label">
          <input
            [style.borderColor]="
              modalForm.get('phone')?.invalid &&
              (modalForm.get('phone')?.dirty || modalForm.get('phone')?.touched)
                ? 'red'
                : ''
            "
            formControlName="phone"
            id="phone"
            type="tel"
            class="modal__form-input"
            placeholder="+7 (___) ___-__-__"
            phoneMask
          />
        </label>
      </div>
      @if (isTypeOrder()) {
        <button type="submit" class="btn modal__form-btn">
          Оставить заявку
        </button>
      } @else {
        <button type="submit" class="btn modal__form-btn">
          Заказать консультацию
        </button>
      }
      @if (isError() !== null) {
        <span class="modal__error">{{ isError() }}</span>
      }
    </form>
  } @else {
    <div class="modal__title">Спасибо за вашу заявку!</div>
    <div class="modal__subtitle">
      Мы свяжемся с вами при первой же возможности.
    </div>
    <button type="button" class="btn modal__btn" (click)="close()">Окей</button>
  }
</div>
