@use 'variables' as *;

.footer {
  background-color: $footer_bg-color;
  .container {
    padding: 40px 0 54px 0;
    display: flex;
    flex-direction: column;
    font-family: $montserrat-regular;
    font-size: 16px;
    color: $base-color;
    .footer__top {
      margin-bottom: 40px;
      display: flex;
      align-items: center;
      gap: 43px;
      .logo {
        img {
          width: 85px;
          height: 47px;
        }
      }
      nav {
        margin-right: 257px;
        .menu {
          display: flex;
          align-items: center;
          gap: 20px;
          font-size: 16px;

          a {
            transition: all 0.3s ease;
            color: $base-color;
            &:hover {
              color: $second-color;
            }
          }
        }
      }
    }
    .footer__info {
      display: flex;
      column-gap: 60px;
      .footer__info-item {
        display: flex;
        flex-direction: column;
        gap: 10px;
				max-width: 253px;
        .footer__info-title {
          font-family: $montserrat-medium;
          color: $second-color;
        }
        .footer__info-text {
          line-height: 130%;
        }
        .footer__socials{
          display: flex;
          align-items: center;
          gap:12px;
          margin-top: 5px;
        }
      }
    }
    .footer__rights{
      margin-top: 6px;
      color: $second-color;
      font-family: $montserrat-medium;
    }
  }
}
