<div class="signup">
  <div class="container">
    <div class="signup__content" animate.leave='slide-out-right' animate.enter='slide-in-left'>
      <div class="signup__title">Регистрация на сайте</div>
      <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSignup()">
        <label for="name" class="form__item">
          @let firstNameErrors = getZodErrors('firstName');
          @let invalidFirstName =
            firstNameErrors.length > 0 &&
            (signUpForm.get('firstName')?.touched || signUpForm.get('firstName')?.dirty);
          <input
            type="text"
            formControlName="firstName"
            class="form__item-input"
            id="name"
            placeholder="Ваше имя"
            autocomplete="firstName"
            [style.borderColor]="invalidFirstName ? 'red' : ''"
          />
        </label>
        @if (firstNameErrors.length > 0 && invalidFirstName) {
          <div class="form__error-block"     animate.leave="deleting"
                animate.enter="fade-in">
            @for (err of firstNameErrors; track $index) {
              <span class="form__error-item" >{{ err }}</span>
            }
          </div>
        }
        <label for="email" class="form__item">
          @let emailErrors = getZodErrors('email');
          @let invalidEmail =
            emailErrors.length > 0 &&
            (signUpForm.get('email')?.touched || signUpForm.get('email')?.dirty);
          <input
            type="email"
            formControlName="email"
            id="email"
            class="form__item-input"
            placeholder="Электронная почта"
            autocomplete="email"
            [style.borderColor]="invalidEmail ? 'red' : ''"
          />
        </label>
        @if (emailErrors.length > 0 && invalidEmail) {
          <div class="form__error-block"     animate.leave="deleting"
                animate.enter="fade-in">
            @for (err of emailErrors; track $index) {
              <span class="form__error-item">{{ err }}</span>
            }
          </div>
        }
        <label for="password" class="form__item">
          @let passwordErrors = getZodErrors('password');
          @let invalidPassword =
            passwordErrors.length > 0 &&
            (signUpForm.get('password')?.touched || signUpForm.get('password')?.dirty);
          <input
            [type]="isHidePassword() ? 'password' : 'text'"
            formControlName="password"
            class="form__item-input"
            id="password"
            autocomplete="password"
            placeholder="Пароль"
            [style.borderColor]="invalidPassword ? 'red' : ''"
          />
           <div class="hide-password" (click)="togglePasswordVisibility()"     animate.leave="deleting"
                animate.enter="fade-in">
            @if (isHidePassword()) {
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 5C7 5 2.73 8.11 1 12.5C2.73 16.89 7 20 12 20C17 20 21.27 16.89 23 12.5C21.27 8.11 17 5 12 5ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 9.74 9.24 7.5 12 7.5C14.76 7.5 17 9.74 17 12.5C17 15.26 14.76 17.5 12 17.5ZM12 9.5C10.34 9.5 9 10.84 9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5Z"
                  fill="#709FDC"
                />
              </svg>
            } @else {
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 7.5C14.76 7.5 17 9.74 17 12.5C17 13.01 16.9 13.5 16.76 13.96L19.82 17.02C21.21 15.79 22.31 14.25 23 12.5C21.27 8.11 17 5 12 5C10.73 5 9.51 5.2 8.36 5.57L10.53 7.74C11 7.6 11.49 7.5 12 7.5ZM2.71 3.16C2.32 3.55 2.32 4.18 2.71 4.57L4.68 6.54C3.06 7.83 1.77 9.53 1 12.5C2.73 16.89 7 20 12 20C13.52 20 14.97 19.7 16.31 19.18L19.03 21.9C19.42 22.29 20.05 22.29 20.44 21.9C20.83 21.51 20.83 20.88 20.44 20.49L4.13 4.16C3.74 3.77 3.1 3.77 2.71 3.16ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 11.73 7.18 11 7.49 10.36L8.06 10.93C8.03 11.11 8 11.3 8 11.5C8 13.71 9.79 15.5 12 15.5C12.2 15.5 12.38 15.47 12.57 15.43L13.14 16C12.5 16.32 11.77 16.5 12 17.5ZM14.97 11.17C14.82 9.77 13.72 8.68 12.33 8.53L14.97 11.17Z"
                  fill="#709FDC"
                />
              </svg>
            }
          </div>
        </label>

        @if (passwordErrors.length > 0 && invalidPassword) {
          <div class="form__error-block">
            @for (err of passwordErrors; track $index) {
              <span class="form__error-item">{{ err }}</span>
            }
          </div>
        }
        <label for="repeatPassword" class="form__item">
          @let repeatPasswordErrors = getZodErrors('repeatPassword');
          @let invalidPasswordRepeat =
            repeatPasswordErrors.length > 0 &&
            (signUpForm.get('repeatPassword')?.touched || signUpForm.get('repeatPassword')?.dirty);
          <input
            [type]="isHideRepeatPassword() ? 'password' : 'text'"
            autocomplete="repeatPassword"
            formControlName="repeatPassword"
            class="form__item-input"
            id="repeatPassword"
            placeholder="Повторите пароль"
            [style.borderColor]="invalidPasswordRepeat ? 'red' : ''"
          />
             <div class="hide-password" (click)="toggleRepeatPasswordVisibility()">
            @if (isHideRepeatPassword()) {
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 5C7 5 2.73 8.11 1 12.5C2.73 16.89 7 20 12 20C17 20 21.27 16.89 23 12.5C21.27 8.11 17 5 12 5ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 9.74 9.24 7.5 12 7.5C14.76 7.5 17 9.74 17 12.5C17 15.26 14.76 17.5 12 17.5ZM12 9.5C10.34 9.5 9 10.84 9 12.5C9 14.16 10.34 15.5 12 15.5C13.66 15.5 15 14.16 15 12.5C15 10.84 13.66 9.5 12 9.5Z"
                  fill="#709FDC"
                />
              </svg>
            } @else {
              <svg
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M12 7.5C14.76 7.5 17 9.74 17 12.5C17 13.01 16.9 13.5 16.76 13.96L19.82 17.02C21.21 15.79 22.31 14.25 23 12.5C21.27 8.11 17 5 12 5C10.73 5 9.51 5.2 8.36 5.57L10.53 7.74C11 7.6 11.49 7.5 12 7.5ZM2.71 3.16C2.32 3.55 2.32 4.18 2.71 4.57L4.68 6.54C3.06 7.83 1.77 9.53 1 12.5C2.73 16.89 7 20 12 20C13.52 20 14.97 19.7 16.31 19.18L19.03 21.9C19.42 22.29 20.05 22.29 20.44 21.9C20.83 21.51 20.83 20.88 20.44 20.49L4.13 4.16C3.74 3.77 3.1 3.77 2.71 3.16ZM12 17.5C9.24 17.5 7 15.26 7 12.5C7 11.73 7.18 11 7.49 10.36L8.06 10.93C8.03 11.11 8 11.3 8 11.5C8 13.71 9.79 15.5 12 15.5C12.2 15.5 12.38 15.47 12.57 15.43L13.14 16C12.5 16.32 11.77 16.5 12 17.5ZM14.97 11.17C14.82 9.77 13.72 8.68 12.33 8.53L14.97 11.17Z"
                  fill="#709FDC"
                />
              </svg>
            }
          </div>
        </label>
        @if (repeatPasswordErrors.length > 0 && invalidPasswordRepeat) {
          <div class="form__error-block"     animate.leave="deleting"
                animate.enter="fade-in">
            @for (err of repeatPasswordErrors; track $index) {
              @if (err) {
                <span class="form__error-item">{{ err }}</span>
              }
            }
          </div>
        }
        <label for="policy" class="form__item-policy">
          @let agreeErrors = getZodErrors('agree');
          @let invalidAgree =
            agreeErrors.length > 0 &&
            (signUpForm.get('agree')?.touched || signUpForm.get('agree')?.dirty);
          <input
            type="checkbox"
            formControlName="agree"
            class="form__item-checkbox"
            [style.borderColor]="invalidAgree ? 'red' : ''"
            id="policy"
          />
          <span>
            Я принимаю <a href="policy.html">условия пользовательского соглашения</a> и
            <a href="policy.html#personal">даю согласие на обработку персональных данных</a>.
          </span>
        </label>
        <div class="form__action">
          <button class="btn form__btn" type="submit" [disabled]="!isFormValid()">
            Зарегистрироваться
          </button>
        </div>
        <div class="form__login">
          Уже есть аккаунт? <a class="form__login-link" routerLink="/login">Войти</a>
        </div>
      </form>
    </div>
    <div class="signup__image" animate.leave='slide-out-left' animate.enter='slide-in-right'>
      <img
        src="/assets/images/auth/signup.png
			"
        alt="Картинка регистрации"
      />
    </div>
  </div>
</div>
