@use 'variables' as *;

@mixin link() {
  color: $second-color;
  transition: border-bottom-color 0.5s ease;
  border-bottom: 1px solid transparent;
  white-space: nowrap;

  &:hover {
    border-bottom-color: $second-color;
  }
}
@mixin input($size: null) {
  @if $size == null {
    border: 1.5px solid $second-color;
    border-radius: 3px;
    padding: 20px 64px 20px 20px;
    width: 428px;
    background-color: $white;
    color: #709fdc;
    height: 53px;
    caret-color: $base-color !important;

    &::placeholder {
      font-family: $montserrat-regular;
      font-size: 14px;
      line-height: 130%;
      color: #a8aba7;
      padding: 17.5px;
    }
    // Сбросить фон автозаполнения
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $white inset !important;
      box-shadow: 0 0 0 1000px $white inset !important;
      -webkit-text-fill-color: $base-color !important;
      color: $base-color !important;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:-moz-autofill {
      box-shadow: 0 0 0 1000px $white inset !important;
      -moz-text-fill-color: $base-color !important;
      color: $base-color !important;
    }
    &:-ms-input-autofill {
      box-shadow: 0 0 0 1000px $white inset !important;
      color: $base-color !important;
    }
  } @else {
    border: 1.5px solid $second-color;
    border-radius: 3px;
    padding: 20px 64px 20px 20px;
    width: $size;
    background-color: $white;
    height: 53px;
		caret-color: $base-color !important;
    &::placeholder {
      font-family: $montserrat-regular;
      font-size: 14px;
      line-height: 130%;
      color: #a8aba7;
    }
    // Сбросить фон автозаполнения
    &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $white inset !important;
      box-shadow: 0 0 0 1000px $white inset !important;
      -webkit-text-fill-color: $base-color;
      color: $base-color;
      transition: background-color 5000s ease-in-out 0s;
    }
    &:-moz-autofill {
      -moz-text-fill-color: $base-color !important;
      color: $base-color !important;
    }
    &:-ms-input-autofill {
      color: $base-color !important;
    }
  }
}

@mixin btn($width, $height, $size) {
  border-radius: 5px;
  padding: 10px 20px;
  width: $width;
  height: $height;
  background-color: $second-color;
  outline: none;
  border: none;
  font-family: $montserrat-medium;
  font-size: $size;
  color: $white;
  transition: all 0.3s ease;
  text-align: center;
  &:hover {
    background-color: $second-color-active;
  }
}

@mixin lora-title($size: null) {
  @if $size == null {
    font-family: $lora-regular;
    font-size: 38px;
    color: $second-color;
  } @else {
    font-family: $lora-regular;
    font-size: $size;
    color: $second-color;
  }
}

// Универсальный адаптивный миксин
@mixin responsive($max: null) {
  @if $max != null {
    @media (max-width: #{$max}) {
      @content;
    }
  } @else {
    @content;
  }
}
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$desktop - 1}) and (min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$laptop - 1}) and (min-width: #{$tablet}) {
    @content;
  }
}

@mixin phone {
  @media (max-width: #{$tablet - 1}) {
    @content;
  }
}
