$montserrat-medium: "Montserrat-Medium", sans-serif;
$montserrat-regular: "Montserrat-Regular", sans-serif;
$montserrat-bold: "Montserrat-Bold", sans-serif;
$montserrat-semiBold: "Montserrat-SemiBold", sans-serif;
$montserrat-lightItalic: "Montserrat-LightItalic", sans-serif;
$lora-regular: "Lora-Regular", sans-serif;

$base-color: #071739;
$second-color: #709fdc;
$footer_bg-color: #b9d5fd;

$white: #fff;

$checkbox_color:#071739;

$second-color-active: #5e88be;


$desktop: 1200px;
$laptop: 992px;
$tablet: 768px;
$phone: 480px;