@use 'variables' as *;
@use 'mixins' as *;

.blog__filter {
  font-family: $montserrat-regular;
  font-size: 16px;
  color: $base-color;
  margin-bottom: 40px;

  .blog__filter-closed {
    width: 148px;
    padding: 12px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
    .blog__filter-title {
      font-family: $montserrat-regular;
      font-size: 16px;
      color: $base-color;
    }
    svg {
      transition: transform 0.3s ease;
      transform: rotate(0deg);
    }
    &.open {
      width: 257px;
      padding: 12px 23px;
      border-radius: 5px 5px 0 0;
      background: #b9d5fd;
      transition: all 0.3s ease;
      svg {
        transform: rotate(-180deg);
      }
    }
  }

  .blog__filter-open {
    position: relative;

    .blog__filter-categories {
      position: absolute;
      left: 0;
      background: $white;
      padding: 12px 23px;
      display: flex;
      flex-direction: column;
      gap: 14px;
      z-index: 1000;
      border: 1.5px solid #b9d5fd;
      border-radius: 0 0 5px 5px;
      width: 257px;

    }
  }
}
